@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;500;600&display=swap');

* {
  --yellow: #FFFF00;
  background-color: #282836;
  color: white;
  text-decoration: none;
  font-family: 'Source Code Pro', monospace;
}

.container{
  display: flex;
  flex-direction: column;
}

/*Home Page Styling */
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > nav {
  display: flex;
}

.main-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intro-image > img{
  width: 30vw;
}

.intro > .intro-text > p > a {
  color: var(--yellow);
}

.stack > .stack-icons {
  align-self: center;
}

.social-icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.social-icons > a >img {
  max-width: 20vw;
}

