@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;500;600&display=swap');

* {
  background-color: #282836;
  color: white;
  text-decoration: none;
  font-family: 'Source Code Pro', monospace;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

header > nav > a{
  padding: .8em;
  border: 1px solid white;
  border-radius: 8px;
  margin: .2em;
}

.main-content{
  display: flex;
  padding-left: 12em;
  padding-right: 12em;
  justify-content: space-between
}

.intro{
  padding-right: 15em;
  max-width: 550px;
}

.intro > p {
  padding: 1em;
}
.main-image > img{
  height: 500px;
  width: auto;
  padding: 2em;
}