@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;500;600&display=swap');

* {
  --yellow: #FFFF00;
  background-color: #282836;
  color: white;
  text-decoration: none;
  font-family: 'Source Code Pro', monospace;
}

.root{
  background-color: #282836;
}
/* For components/Header */
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

header > nav{
  display: flex;
}

header > nav > a >  h5{
  padding: .8em;
  border: 1px solid white;
  border-radius: 8px;
  margin: .2em;
}


/* For pages/Home */

.main-content{
  display: flex;
  padding-left: 12em;
  padding-right: 12em;
  justify-content: space-between
}

.intro{
  padding-right: 15em;
  max-width: 550px;
}

.intro > p {
  padding: 1em;
}

.intro > p > a {
  color: var(--yellow);
}
.main-image > img{
  height: 500px;
  width: auto;
  padding: 2em;
}

.social-icons {
  display: flex;
  justify-content: space-between;
}

.social-icons > a > img {
  height: 100px;
  width: auto;
  
}

/* For Projects */

.projects-page{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #2d2d35;
  justify-content: center;
}
.project-card > img {
  height: 200px;
  width: 200px;

} 

.project-card > p {
  text-align: center;
}

.project-card > h4 > a, 
  .project-card > p {
    background-color: #2d2d35;
  }

/* For Contact page */

.contact-page > form{
  display: flex;
  flex-direction: column;
  align-items: center;
}