* {
  background-color: #282836;
  color: white;
  text-decoration: none;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

header > nav > a{
  padding: .8em;
  border: 1px solid white;
  border-radius: 8px;
  margin: .2em;
}